<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyz.web.admin.mapper.PurchaseMapper">

    <resultMap id="BaseResultMap" type="com.tyz.model.entity.Transaction">
        <id property="transactionId" column="transaction_id" jdbcType="INTEGER"/>
        <result property="accountId" column="account_id" jdbcType="INTEGER"/>
        <result property="fundId" column="fund_id" jdbcType="INTEGER"/>
        <result property="transactionType" column="transaction_type" jdbcType="INTEGER"/>
        <result property="transactionAmount" column="transaction_amount" jdbcType="DECIMAL"/>
        <result property="transactionShare" column="transaction_share" jdbcType="DECIMAL"/>
        <result property="transactionDate" column="transaction_date" jdbcType="TIMESTAMP"/>
        <result property="transactionState" column="transaction_state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        transaction_id, account_id, fund_id,
        transaction_type, transaction_amount,
        transaction_share, transaction_date,
        transaction_state
    </sql>
    <insert id="insertPurchase" parameterType="com.tyz.model.entity.Transaction" useGeneratedKeys="true" keyProperty="transactionId">
        INSERT INTO transaction (account_id, fund_id, transaction_type, transaction_amount, transaction_share, transaction_date, transaction_state)
        VALUES (#{accountId}, #{fundId}, #{transactionType}, #{transactionAmount}, #{transactionShare}, #{transactionDate}, #{transactionState})
    </insert>
</mapper>
